


<%= simple_form_for @experiment do |f| %>
<div class="form-labels-on-top">
  <%= select_tag(:collage_id, options_for_select(@collages), :prompt => "Select your collage") %>
</div>
<div class="form-labels-on-top">
  <%= select_tag(:branch_id, options_for_select(@branches), :prompt => "Select your branch") %>
</div>
<div class="form-labels-on-top">
  <%= select_tag(:sem_id, options_for_select(@sems), :prompt => "Select your sem") %>
</div>
<div class="form-labels-on-top">
  <%= select_tag(:lab_id, options_for_select(@labs), :prompt => "Select your lab") %>
</div>
  <div class="form-labels-on-top">
  <%= f.input :title, label: "Experiment title:" %>
</div>
<div class="form-labels-on-top">
  <%= f.input :description, label: "Add content :", :input_html => { :rows => 7 , :style => 'width: 98%'} %>
  <trix-editor input="experiment_description"></trix-editor>
</div>
<div class="form-labels-on-top">
  <%= f.input :components ,label: "components used:", :input_html => { :rows => 7 , :style => 'width: 98%'} %>
</div>
<div class="form-labels-on-top">
  <%= f.button :submit %>
</div>
<% end %>