<h1>Edit your experiment</h1>

<%= simple_form_for @experiment do |f| %>
  
  <%= f.select :lab_id, @labs %>
  <%= f.select :sem_id, @sems %>
  <%= f.select :branch_id, @branches %>
  <%= f.select :collage_id, @collages %>
  <%= f.input :title, label: "Experiment title" %>
  <%= f.input :description, label: "Add content for the experiment" %>
  <%= f.input :components ,label: "components used" %>
  <%= f.button :submit %>
<% end %>