<!DOCTYPE html>
<html>
  <head>
  	 <meta charset="UTF-8">
     <meta name="description" content="about me">
     <meta name="keywords" content="HTML,CSS,Rails,Arduino projects">
     <meta name="author" content="sanjay pinnaka">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <%= link_to "PVPSIT", root_path, class: "logo" %>
    <nav>
      <ul>
     
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

        <% else %>  
          <li><%= link_to "Log In", new_user_session_path %></li>
           <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
        
      <% if user_signed_in? %>
       <li> <%= link_to "Create experiment", new_experiment_path, class: "contact" %></li>
      <% end %>        
    </nav>
  </header>
   

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 

    
  <%= yield %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
