<!DOCTYPE html>
<html>
  <head>
  	  <meta charset="UTF-8">
     <meta name="description" content="about me">
     <meta name="keywords" content="HTML,CSS,Rails,Arduino projects">
     <meta name="author" content="sanjay pinnaka">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Practical hub</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    
   * {
  box-sizing: border-box;
}
nav {
  padding: 30px;

}
nav ul {
  float: right;
}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #1f2227;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}



#logo{
  margin: 20px;
  float: left;
  width: 270px;
  height: 40px;
  background: url(assets/2.png) no-repeat center;
  display: block;
}


@media screen and (max-width: 560px) {
	   #logo{
  width: 215px;
  margin-left: 0px;
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #1f2227;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
.container {
  margin-top: 85px;
}

 .current-lab {

  margin-top: 150px;
 }
 .site-footer {
  margin-top: 50px;
 }
.dropdown-content {
  min-width: 170px !important;
}

.notice {
  margin-bottom: 0px !important;
  text-align: center;
}


  </style>
  <body>

  	<a> <%= link_to "", root_path, id: "logo" %></a> 
  <nav>	

  <input type="checkbox" id="nav" class="hidden"/>
  <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
  <div class="nav-container">
    <ul>
        <li><%= link_to "Home", root_path, class: "current" %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to('signout', destroy_user_session_path, method: :delete) %> </li>
          <li> <%= link_to "Create experiment", new_experiment_path %></li>
        <% else %>  
          <li><%= link_to "Log In", new_user_session_path %></li>
           <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
    </ul>
  </div>
</nav>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 
  
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Contact</h3>
                <address>
                  <strong>Practical hub</strong>
                  <p>poranki,vijayawada, krishna district</p>
                  <p><a href="#">0000 0000 0000</a><br>
                  <a href="#">sanjaypinnaka@gmail.com</a></p>
                </address>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Help</h3>
                <ul class="dash-list">
                  <li><a href="#">Praesentium deleniti</a></li> 
                  <li><a href="#">Atque corrupti</a></li> 
                  <li><a href="#">Quos dolores quas molestias</a></li> 
                  <li><a href="#">Excepturi sint occaecati</a></li> 
                  <li><a href="#">Cupiditate provident</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">About</h3>
                <ul class="dash-list">
                  <li><a href="#">something</a></li>
                  <li><a href="#">something</a></li>
                  <li><a href="#">something</a></li>
                 
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Follow us</h3>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>


  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ad849f25f7cdf4f05330b39/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
