<!DOCTYPE html>
<html>
  <head>
  	  <meta charset="UTF-8">
     <meta name="description" content="about me">
     <meta name="keywords" content="HTML,CSS,Rails,Arduino projects">
     <meta name="author" content="sanjay pinnaka">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Practical hub</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <style type="text/css">
    



 .current-lab {
  margin-top: 150px;
 }
 .site-footer {
  margin-top: 50px;
 }
.dropdown-content {
  min-width: 170px !important;
}
/*MAIN*/
.notice {
  margin-bottom: 0px !important;
  text-align: center;
}
body { 
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: Helvetica Neue, Helvetica, Arial;
  background: #f9f9f9;
  color: #555;
}
a {
  color: #ed5151;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #444;
}
header {
  background: #fff;
  width: 100%;
  height: 76px;
  position: ;
  top: 0;
  left: 0;
  
  z-index: 100;
}
#logo{
  margin: 20px;
  float: left;
  width: 270px;
  height: 40px;
  background: url(assets/2.png) no-repeat center;
  display: block;
}
nav {
  float: right;
  padding: 20px;  
  
}
#menu-icon {
  display: hidden;
  width: 35px;
  height: 35px;
  background: #ed5151 url(assets/i.png) center;
}
a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  float: left;
  padding: 10px
}
.current {
  color: #2262AD;
}
section {
  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px
}
h1 {
  font-size: 2em;
  color: #2262AD;
  line-height: 1.15em;
  margin: 20px 0 ;
}
p {
  line-height: 1.45em;
  margin-bottom: 20px;
}

@media only screen and (max-width : 640px) {
  header {
    position: absolute;
  }
   #logo{
  width: 215px;
  margin-left: 0px;
  }
  #menu-icon {
    display:inline-block;
  }
  nav ul, nav:active ul { 
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  nav:hover ul {
    display: block;
  }
.container {
  margin-top: 85px;
}

 .current-lab {

  margin-top: 150px;
 }
 .site-footer {
  margin-top: 50px;
 }
.dropdown-content {
  min-width: 170px !important;
}

.notice {
  margin-bottom: 0px !important;
  text-align: center;
}


  </style>
  <body>


   <header>
     <a> <%= link_to "", root_path, id: "logo" %></a>
      <nav>
      <a id="menu-icon"></a>
      <ul>
       <li><%= link_to "Home", root_path, class: "current" %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
          <li><%= link_to('signout', destroy_user_session_path, method: :delete) %> </li>
          <li> <%= link_to "Create experiment", new_experiment_path %></li>
        <% else %>  
          <li><%= link_to "Log In", new_user_session_path %></li>
           <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
      </ul>
      </nav>
    </header>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 
  
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Contact</h3>
                <address>
                  <strong>Practical hub</strong>
                  <p>poranki,vijayawada, krishna district</p>
                  <p><a href="#">0000 0000 0000</a><br>
                  <a href="#">sanjaypinnaka@gmail.com</a></p>
                </address>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Help</h3>
                <ul class="dash-list">
                  <li><a href="#">Praesentium deleniti</a></li> 
                  <li><a href="#">Atque corrupti</a></li> 
                  <li><a href="#">Quos dolores quas molestias</a></li> 
                  <li><a href="#">Excepturi sint occaecati</a></li> 
                  <li><a href="#">Cupiditate provident</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">About</h3>
                <ul class="dash-list">
                  <li><a href="#">something</a></li>
                  <li><a href="#">something</a></li>
                  <li><a href="#">something</a></li>
                 
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-md-3">
              <div class="widget">
                <h3 class="widget-title">Follow us</h3>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-github"></i></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>


  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ad849f25f7cdf4f05330b39/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
       <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
