<!DOCTYPE html>
<html>
  <head>
  	 <meta charset="UTF-8">
     <meta name="description" content="about me">
     <meta name="keywords" content="HTML,CSS,Rails,Arduino projects">
     <meta name="author" content="sanjay pinnaka">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

    <title>Labs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'jquery-1.11.1.min', 'data-turbolinks-track' => 'reload' %>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    

    


  </head>
  <style type="text/css">
  .notice .alert{
      text-align: center !important;
      margin: 0 auto !important;
     }
  </style>

  <body>



  <div class="site-content">

      <header class="site-header">
        <div class="container">
          <a href="index.html" class="logo"><img src="assets/1.png" alt="Perfect Lab"></a>
          
          <!-- Default snippet for navigation -->
          <div class="main-navigation">
            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
            <ul class="menu">
              <li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
              <li class="menu-item"><a href="about.html">About</a></li>

              <li class="menu-item"><a href="contact.html">Contact</a></li>
              <% if user_signed_in? %>
              <li> <%= link_to "Create experiment", new_experiment_path, class: "contact" %></li>
               <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

               <% else %>
               <li><%= link_to "Log In", new_user_session_path %></li>
               <li><%= link_to "Register", new_user_registration_path %></li>
              <% end %>

              <li class="menu-item"><a href="contact.html">Contact</a></li>
            </ul> <!-- .menu -->
          </div> <!-- .main-navigation -->
          
          <div class="mobile-navigation"></div>
        </div> <!-- .container -->
      </header> <!-- .site-header -->

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> 

    
    <%= yield %>
      
  </body>
</html>
